/* 
Chinmay Singh 
100948966
Cool box CSS
*/

html {
    font-family: sans-serif;
  }
  
p{
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  color:aliceblue;
  text-shadow: 1px 1px 1px black;
  border-radius: 10px;
  border: 1 px solid rgb(200, 0, 0);
  background-color: red;
  background-image: none;
  box-shadow: 2px 2px 2px black;
  
}